body{
background-color: #a5f3e2;
}
.col-sm-6{
   
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    border: 1px solid #4195fc;
    font-family:  Arial, Helvetica, sans-serif;
    
}
.col-sm-6 fieldset{
    border: none;
}
.col-sm-6 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.col-sm-6 label {
    display: block;
    margin-bottom: 8px;
}
.btn
{
    
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px
    
}
.btn:hover
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #109177;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px
}
.time,
.date
{
    padding-bottom: 10px;
    padding-top: 5px;
}
.to,
.from
{
    padding-top: 0px;
}
#moredays
{
    display: none;
    visibility: hidden;
}

.datepicker,
.timepicker
{
    width: 100%;
    background: #ffffff;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #dadada;
    
    
}
.col-sm-6 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5{
    width: 100%;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 0px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="password"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #ffffff;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #e8eeef;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover,
{
    background: #109177;
}
.error_msg{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.reg{
    position: relative;
    display: block;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px; 
}
#projectname{
 visibility: hidden;
 display: none;
}
#other{
 visibility: hidden;
 display: none;
}
#expequip{
 visibility: hidden;
 display: none;
}
.res
{
    max-width: 50px;
}
.end
{
    text-align: center;
}